
/*360deg*/


.pano-copy {
    font-size: 24px;
    color: white !important;
}

.pano-title {
    font-size: 32px;
    font-family: poynterosdisp-bold;
    color: #C25747;
}


@-ms-viewport {
    width: device-width;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -ms-content-zooming: none;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#pano {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



#toggleDeviceOrientation {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(194, 87, 71);
    background-color: rgba(45, 48, 63, 0.8);
}

    #toggleDeviceOrientation img {
        width: 34px;
        margin: 8px;
    }

    #toggleDeviceOrientation .disable {
        display: none;
    }

    #toggleDeviceOrientation.enabled .disable {
        display: block;
    }

    #toggleDeviceOrientation.enabled .enable {
        display: none;
    }

/*REVEAL.CSS*/
.reveal, .reveal2 {
    width: 50px;
    height: 50px;
    background-color: #C25747;
    background-image: url('../img/info.png');
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 30px;
    border-radius: 50%;
    margin-left: 0;
    text-align: center;
    cursor: pointer;
    transition: height .3s ease-in-out, width .3s ease-in-out, border-radius .3s ease-in-out, margin .3s ease-in-out;
    border-radius: 50px;
}

    .reveal > img {
        width: 50px;
        margin: 15px 0;
    }

.reveal-content {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -100%;
    margin-left: -100%;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background-color: #2D303F;
    opacity: 0;
    text-align: left;
    pointer-events: none;
    transition: opacity .01s ease-in-out;
    border-radius: 0px;
    z-index: 1;
    padding: 0;
}

.cardhero {
    width: 100% !important;
}

.reveal-content img {
    width: 100vw;
    opacity: 0;
    transition: width .01s ease-in-out, opacity .01s ease-in-out;
    -webkit-path-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.reveal-content p {
    margin: 10px 0;
    color: #2d2d2d;
    margin-top: -20px;
    opacity: 0;
    transition: margin .01s ease-in-out, opacity .01s ease-in-out;
    border-radius: 49px;
}

.reveal:hover {
    width: 180px;
    height: 240px;
    border-radius: 5px;
    margin-left: -50px;
}

    .reveal:hover .reveal-content {
        opacity: 1;
        pointer-events: all;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: opacity .3s ease-in-out .3s;
    }

        .reveal:hover .reveal-content img {
            width: 160px;
            opacity: 1;
            transition: width .3s ease-in-out .4s, opacity .3s ease-in-out .4s;
        }

        .reveal:hover .reveal-content p {
            margin-top: 10px;
            opacity: 1;
            transition: margin .3s ease-in-out .6s, opacity .3s ease-in-out .6s;
        }

.content {
    padding: 15px;
}

/*TEXTINFO.CSS*/

.textInfoHolder {
    padding: 0;
    margin: 0;
}

.tooltip-content {
    position: absolute;
    left: -70px;
    bottom: 80px;
    width: 200px;
    pointer-events: none;
    background-color: #333;
    color: #fff;
    line-height: 1.2em;
    padding: .8em;
    opacity: 0;
    -webkit-transform-origin: 50% calc(100% + 6em);
    transform-origin: 50% calc(100% + 6em);
    -webkit-transform: rotate3d(0,0,1,15deg);
    transform: rotate3d(0,0,1,15deg);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transition-timing-function: ease, cubic-bezier(.17,.67,.4,1.39);
    transition-timing-function: ease, cubic-bezier(.17,.67,.4,1.39);
}

.textInfo:hover {
    z-index: 3;
}

    .textInfo:hover .tooltip-content {
        opacity: 1;
        pointer-events: all;
        -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
        transform: translate3d(0,0,0) rotate3d(0,0,0,0);
    }

.textInfo .hotspot {
    cursor: pointer;
}

    .textInfo .hotspot .out:before {
        speak: none;
        font-size: 48px;
        line-height: 90px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        display: block;
        -webkit-font-smoothing: antialiased;
    }

    .textInfo .hotspot .out {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 5px solid rgba(255,255,255,.8);
        -webkit-transition: -webkit-transform ease-out 0.1s, border 0.2s;
        -moz-transition: -moz-transform ease-out 0.1s, border 0.2s;
        transition: transform ease-out 0.1s, border 0.2s;
    }

    .textInfo .hotspot .in {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: rgba(255,255,255,.8);
        border-radius: 50%;
        -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
        -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
        transition: transform ease-out 0.1s, background 0.2s;
    }

    .textInfo .hotspot .out:after {
        top: 0;
        left: 0;
        padding: 0;
        z-index: -1;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
        opacity: 0;
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content: '';
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    .textInfo .hotspot:hover .out {
        border: 5px solid rgba(255,255,255,1);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        color: #fff;
    }

    .textInfo .hotspot:hover .in {
        background-color: rgba(255,255,255,1);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }

    .textInfo .hotspot:hover .out:after {
        -webkit-animation: sonarEffect 1.2s ease-out;
        -moz-animation: sonarEffect 1.2s ease-out;
        animation: sonarEffect 1.2s ease-out;
    }

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.5;
    }

    20% {
        opacity: 0.8;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(37,170,225,.8), 0 0 0 10px rgba(255,255,255,0.5);
    }

    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(37,170,225,.8), 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}

@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.5;
    }

    20% {
        opacity: 0.8;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(37,170,225,.8), 0 0 0 10px rgba(255,255,255,0.5);
    }

    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(37,170,225,.8), 0 0 0 10px rgba(255,255,255,0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes sonarEffect {
    0% {
        opacity: 0.5;
    }

    20% {
        opacity: 0.8;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(37,170,225,.8), 0 0 0 10px rgba(255,255,255,0.5);
    }

    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px rgba(37,170,225,.8), 0 0 0 10px rgba(255,255,255,0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}
