/*FONT*/
@font-face {
    font-family: "freightsanspro-medium";
    src: url(../font/freightsanspro-medium.otf) format('opentype');
}

@font-face {
    font-family: "poynterosdisp-bold";
    src: url(../font/poynterosdisp-bold.otf) format('opentype');
}

h1, h2, h3 {
    font-family: poynterosdisp-bold;
}

h1 {
    font-size: 35px;
    color: #FFFFFF;
    width: 250px;
    bottom: 20px;
    padding-left: 3vw;
    display: inline-block;
    animation: fadein 1s ease-out;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
}

h2 {
    font-size: 7vh;
}

h3 {
    font-size: 4vh;
}

p {
    font-size: 14px;
    font-family: freightSans Pro;
    color: white !important;
    width: 300px;
    padding-left: 3vw;
    display: inline-block;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    animation: fadein 1s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #2D303F;
    color: white;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.animate-reveal {
    animation: slide-to-left 1s ease-in-out;
}

.hidden {
    visibility: hidden;
}

.animate-reveal {
    animation: slide-to-left 1s ease-in-out;
}


.brandmark {
    position: absolute;
    top: 0;
    margin-top: 3vh;
    right: 0;
    margin-right: 5vw;
    font-size: 15px !important;
    color: #C25747;
}

p {
    font-family: freightsanspro-medium;
    font-size: 14px;
}

.card {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #2D303F;
  text-align: left;
}

.cardhero {
    width: 100% !important;
    clip-path: polygon(0 0, 100% 0%, 100% 48vw, 0% 60vw);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 48vw, 0% 60vw);
    animation: scaleanim 1s ease-out;
}

.content {
  padding: 15px;
}

.logoWhite, .logoRed {
    position: absolute;
    width: 10vw;
    height: 15vh;
    top: 0;
    margin-top: 1vh;
    margin-left: 5vw;
    z-index: 5;
    background-repeat: no-repeat;
    background-size: 3vh;
    background-position: center;
}

.logoWhite {
    background-image: url('../img/logo.png');
}

.logoRed {
    background-image: url('../img/logored.png');
}

.themeHeader {
  position: absolute;
  width: 10vw;
  height: 15vh;
  top: 0;
  margin-top: 20vh;
  margin-left: 5vw;
  z-index: 5;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.rightArrow, .leftArrow {
    position: absolute;
    /*aligns the div to the upper left corner, so these won't change with screen size*/
    width: 10vw;
    /*set width and height*/
    height: 5vh;
    max-width: 30%;
    z-index: 5;
    /*this can be 1 or higher, I just set it to 5 in case you have other things on layer 1, 2, 3 or 4*/
    background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    /*scale the background image size to size of the div to retain image quality*/
    left: 0;
    /*set the left and top position to 0 so that margin positionings below don't change with screen res*/
    
}

.rightArrow {
    transform: rotate(90deg);
    top: 0;
    margin-left: 85vw;
    /*put the right arrow 90% of the way across the page*/
    margin-top: 50vh;
    /*put the arrows exactly 50% of the way down/up the page*/
    animation: fadeinleft 1s ease;
}

.leftArrow {
    transform: rotate(270deg);
    margin-left: 5vw;
    /*put the left arrow 5% of the way across the page*/
    bottom: 0;
    margin-bottom: 14vh;
    animation: fadeinright 1s ease;
}

.leftArrowThemePage {
    margin-bottom: 4vh !important;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

.info {
  padding-top: 30px;
}

.no-pad {
  padding-top: unset;
}

/*Animations*/
@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeindown {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeinleft {
    0% {
        opacity: 0;
        transform: rotate(90deg);
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
        transform: rotate(90deg);
    }
}

@keyframes fadeinright {
    0% {
        opacity: 0;
        transform: rotate(90deg);
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
        transform: rotate(270deg);
    }
}

@keyframes scaleanim {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


/*Theme select page*/


.header {
    width: 100%;
    height: 28vh;
    overflow: hidden;
    background: #212220;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    -webkit-clip-path: polygon(0 12vw, 100% 0, 100% calc(100% - 12vw), 0 100%);
    clip-path: polygon(0 12vw, 100% 0, 100% calc(100% - 12vw), 0 100%);
}

#headerA {
    background-image: url("../img/nature.jpg");
}

#headerB {
    background-image: url("../img/history.jpg");
    margin-top: -12vw;
}

#headerC {
    background-image: url("../img/landscape.jpg");
    margin-top: -12vw;
}

.headerContent {
    text-align: left;
    margin-top: 13vh;
    margin-left: 7vw;
}

h2 {
    font-size: 6vh;
}

.headerGroup {
    top: 0;
    margin-top: 10vh;
}


#nature-button {
  background-image: url("../img/nature.jpg");
}

#history-button {
  background-image: url("../img/landscape.jpg");
  margin-top: -12vw;
}

#landscape-button {
  background-image: url("../img/history.jpg");
  margin-top: -12vw;
}







/*Map button*/
.trapezium-button {
    position: fixed;
    width: 17.5vw;
    height: 5vh;
    background-color: #C25747;
    -webkit-clip-path: polygon(30% 15%, 70% 15%, 100% 100%, 0% 100%);
    clip-path: polygon(30% 15%, 70% 15%, 100% 100%, 0% 100%);
    left: 0;
    margin-left: 41.25vw;
    bottom: 0;
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
}