/*FONT*/
@font-face {
    font-family: "freightsanspro-medium";
    src: url(../font/freightsanspro-medium.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2D303F;
    color: white;
}

.logoRed {
    position: absolute;
    width: 10vw;
    height: 15vh;
    top: 0;
    margin-top: 1vh;
    margin-left: 5vw;
    z-index: 5;
    background-image: url('../img/logored.png');
    background-repeat: no-repeat;
    background-size: 3vh;
    background-position: center;
}

/*Button design and positioning for first three screens*/
.button-holder { /*default for 4 options*/
    top: 0;
    margin-top: 6vh;
}

.one-option {
    margin-top: 27vh !important; /*100-24 = 86, 86/2 = 43 43-6=37*/
}

.two-option { /*100-((24*2)+6)=46, 46/2=23 23-6=17*/
    margin-top: 17vh !important;
}

.three-option { /*100-((24*3)+(6*2))=16, 16/2=8 8-6=2*/
    margin-top: 8vh !important; 
}

.season-button {
    width: 100vw;
    height: 24vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 0, 0, 0.5);
    -webkit-path-clip-path: polygon(20% 37%, 100% 12%, 100% 75%, 20% 100%);
    clip-path: polygon(20% 37%, 100% 12%, 100% 75%, 20% 100%);
    margin-bottom: -6vh;
    text-align: center;
}

.season-clip {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.season-title {
    text-align: left;
    padding-left: 28vw;
    z-index: 5;
    vertical-align: middle;
    line-height: 28vh;
    font-size: 7vh;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.15);
}

.long-name {
    font-size: 5vh !important;
}

/*Button background images*/

/*Seasons*/
#spring-button {
    background-image: url('../img/options/spring.jpg');
}

#summer-button {
    background-image: url('../img/options/summer.jpg');
    z-index: 11;
}

#autumn-button {
    background-image: url('../img/options/autumn.jpg');
    z-index: 12;
}

#winter-button {
    background-image: url('../img/options/winter.jpg');
    z-index: 13;
}

/*Plants/animals*/
#spring-plants-button, #summer-plants-button, #autumn-plants-button, #winter-plants-button {
    background-image: url('../img/options/plants.jpg');
}

#spring-animals-button, #summer-animals-button, #autumn-animals-button, #winter-animals-button {
    background-image: url('../img/options/mammals.jpg');
    z-index: 11;
}

/*Birds/mammals*/
#birds-button, #spring-animals-birds-button, #summer-animals-birds-button, #autumn-animals-birds-button, #winter-animals-birds-button {
    background-image: url('../img/options/birds.jpg');
}

#mammals-button, #mammals-button2, #mammals-button3, #summer-animals-mammals-button, #autumn-animals-mammals-button {
    background-image: url('../img/options/mammals.jpg');
    z-index: 11;
}

/*Marginal species/Aquatic species*/
#spring-plants-marginal-species-button, #summer-plants-marginal-species-button, #autumn-marginal-species-button, #winter-marginal-species-button {
    background-image: url('../img/options/marginal-species.jpg');
}

#summer-plants-aquatic-species-button, #autumn-aquatic-species-button {
    background-image: url('../img/options/aquatic-species.jpg');
    z-index: 11;
}

/*Summer Reptiles/Birds/Mammals*/
#summer-animals-mammals-button {
    z-index: 11;
}

#summer-animals-reptiles-button {
    background-image: url('../img/options/reptiles.jpg');
    z-index: 12;
}

/*Design for info pages*/
.hero {
    width: 100vw;
    -webkit-path-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    animation: scaleanim 1s ease-out; /*located in core.css*/
}

.content {
    padding: 15px;
    overflow: scroll;
    height: 52vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    margin-bottom: 9vh;
}

.info {
    padding-top: 30px;
    font-size: 18px;
    font-family: freightsanspro-Medium;
    color: white !important;
    width: 300px;
    display: inline-block;
}

.info-block {
    width: 82vw;
    height: 38vh;
    overflow: scroll;
    margin-left: 13vw;
}

/*Species search results boxes*/
.boxes {
    display: flex;
    flex-flow: row wrap;
    animation-fill-mode: backwards;
    animation-delay: 1s;
    animation: fadein 1s ease-out;
}

.info-box {
    margin: 1vh;
    height: 13vh;
    width: calc( (100% / 2) - 20px );
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    color: black !important;
}

.reed-warbler {
    background-image: url("../img/specimens/reed-warbler.jpg");
}

.sedge-warbler {
    background-image: url("../img/specimens/sedge-warbler.jpg");
}

.grasshopper-warbler {
    background-image: url('../img/specimens/grasshopper-warbler.jpg');
}

.cettis-warbler {
    background-image: url('../img/specimens/cettis-warbler.jpg');
}

.common-reed {
    background-image: url('../img/specimens/common-reed.jpg');
}

.willow {
    background-image: url('../img/specimens/willow.jpg');
}

.water-vole {
    background-image: url('../img/specimens/water-vole.jpg');
}

.grass-snake {
    background-image: url('../img/specimens/grass-snake.jpg');
}

.greater-tussock-sedge {
    background-image: url('../img/specimens/greater-tussock-sedge.jpg');
}

.greater-pond-sedge {
    background-image: url('../img/specimens/greater-pond-sedge.jpg');
}

.yellow-iris {
    background-image: url('../img/specimens/yellow-iris.jpg');
}

.hemp-agrimony {
    background-image: url('../img/specimens/hemp-agrimony.jpg');
}

.spiked-water-milfoil {
    background-image: url('../img/specimens/spiked-water-milfoil.jpg');
}

.yellow-water-lily {
    background-image: url('../img/specimens/yellow-water-lily.jpg');
}

.rigid-hornwort {
    background-image: url('../img/specimens/rigid-hornwort.jpg');
}

.canadian-waterweed {
    background-image: url('../img/specimens/canadian-waterweed.jpg');
}

.marsh-harrier {
    background-image: url('../img/specimens/marsh-harrier.jpg');
}

.coot {
    background-image: url('../img/specimens/coot.jpg');
}

.grey-heron {
    background-image: url('../img/specimens/grey-heron.jpg');
}

.moorhen {
    background-image: url('../img/specimens/moorhen.jpg');
}

.mallard {
    background-image: url('../img/specimens/mallard.jpg');
}

.black-headed-gull {
    background-image: url('../img/specimens/black-headed-gull.jpg');
}

.herring-gull {
    background-image: url('../img/specimens/herring-gull.jpg');
}


/*Navigational arrows*/
.rightArrow, .leftArrow {
    position: absolute; /*aligns the div to the upper left corner, so these won't change with screen size*/
    width: 10vw; /*set width and height*/
    height: 5vh;
    max-width: 30%;
    z-index: 5; /*this can be 1 or higher, I just set it to 5 in case you have other things on layer 1, 2, 3 or 4*/
    background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
    background-size: 30px; /*scale the background image size to size of the div to retain image quality*/
    background-position: center;
    left: 0; /*set the left and top position to 0 so that margin positionings below don't change with screen res*/
}

.leftArrow {
    transform: rotate(270deg);
    margin-left: 5vw; /*put the left arrow 5% of the way across the page*/
    bottom: 0;
    margin-bottom: 10vw;
}


/*Carousel*/
.carousel-holder {
    position: absolute;
    bottom: 0;
    margin-bottom: 6vh;
    left: 0;
    margin-left: 35vw;
    width: 30vw;
    height: 3vh;
}

.carousel-circle {
    position: relative;
    display: inline-block;
    width: 3vw;
    height: 3vw;
    border-radius: 100px;
    background-color: white;
    margin-left: 2vw;
    margin-top: 1vh;
}

.carousel-active {
    background-color: #C25747;
}


/*Map button*/
.trapezium-button {
    position: fixed;
    width: 17.5vw;
    height: 5vh;
    background-color: #C25747;
    -webkit-clip-path: polygon(30% 15%, 70% 15%, 100% 100%, 0% 100%);
    clip-path: polygon(30% 15%, 70% 15%, 100% 100%, 0% 100%);
    left: 0;
    margin-left: 41.25vw;
    bottom: 0;
    background-image: url('../img/map.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
}



/*Theme select page*/
headerGroup {
    display: flex;
    flex-direction: column;
    margin-top: 11vh;
}

.header {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    background: #212220;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    -webkit-clip-path: polygon(0 12vw, 100% 0, 100% calc(100% - 12vw), 0 100%);
    clip-path: polygon(0 12vw, 100% 0, 100% calc(100% - 12vw), 0 100%);
}

#headerA {
    background-image: url("../img/nature.jpg");
}

#headerB {
    background-image: url("../img/landscape.jpg");
    margin-top: -12vw;
}

#headerC {
    background-image: url("../img/history.jpg");
    margin-top: -12vw;
}

.headerContent {
    text-align: left;
    margin-top: 13vh;
    margin-left: 7vw;
}

h2 {
    font-size: 7vh;
}

.headerGroup {
    top: 0;
    margin-top: 10vh;
}

/* added item classes for images

added border-radius 10px 10px 10px 10px; to .info-box
*/