* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none;   
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


::-webkit-scrollbar { 
    display: none;
}


p {
    font-size: 32px;
}

/*Nav buttons*/
.arrow-buttons {
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 65vh;
    z-index: 999;
    width: 100%;
    height: 1rem;
    max-width: 2rem;
}

#right-button { 
    transform: rotate(90deg);
    margin-left: 90vw;
}

#left-button, #left-button-back {
    transform: rotate(-90deg);
    margin-left: 4vw;
}

#left-button-back {
    z-index: 999999 !important; /*place these buttons above the others*/
}

#down-button {
    transform: rotate(180deg);
    margin-left: 50vw;
    margin-top: 95vh !important;
}

#up-button {
    margin-top: 51.5vh !important;
    margin-left: 50vw;
}

.container {
    display: grid;
    grid-template-columns: 100% 100% 100% 100%; /*define the number of columns - keep adding values to increase column count*/
    scroll-snap-type: both mandatory;
    overflow: scroll;
    height: auto;
}

    .container div {
        scroll-snap-align: start;
        height: auto;
        display: flex;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }


    #row1col1 {
        background-color: #383A53;
        height: 100%;
        width: 100%;
    }
    
    #row1col1 .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50vh 50vh;
        grid-template-areas: 'header header'
                            'content content';
    }
    
    .hidden {
        display: none;
    }
    
    @font-face {
        src: url("../fonts/Freight Sans Medium.otf");
        font-family: "FreightSans Pro";
    }
    
    @font-face {
        src: url("../fonts/PoynterOSDisplay-Bold.ttf");
        font-family: "PoynterOSDisp";
    }
    
    header {
        grid-area: header;
        background-image: url("../grid-images/broads.jpg");
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }
    
    .grid {
        width: 55px;
        height: 50px!important;
        display: flex!important;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .grid .active {
    background-color: #383A53!important;
    }
    
    .grid .box {
        background-color: white;
        width: 10px;
        margin: 0 1px;
        height: 10px;
    }
    
    .sub {
        font-family: "PoynterOSDisp", sans-serif;
        text-align: center;
    }
    
    .title {
        font-size: 4rem!important;
        /*position: absolute;*/
        width: 100%;
        margin: 1rem auto;
        font-family: "PoynterOSDisp", SansSerif;
        text-align: center;
        top: 0;
        left: 0;
        right: 0;
        z-index: 300;
    }
    
    .nav-c {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-self: start;
        padding: 2rem 2rem;
    }
    
    
    .logo {
        width: 100%;
        max-width: 2rem;
        align-self: start;
    }
    
    .content {
        grid-area: content;
        display: flex!important;
        justify-content: space-between;
        width: calc(100% - 2rem);
        margin: 0 auto;
        height: 100%;
    }
    
     .content p {
         width: 100%;
         max-width: 25rem;
         margin: 0 auto;
         grid-area: text;
         align-self: center;
         margin-bottom: 2rem!important;
         font-family: "FreightSans Pro", SansSerif;
         font-size: 1.8rem;
    }
    
    #row1col2 {
        background-color: #383A53;
        height: 100%;
        width: 100%;
    }
    
    #row1col2 .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50vh 50vh;
        grid-template-areas: 'header header'
        'content content';
    }
    
    #row1col2 header {
        grid-area: header;
        background-image: url("../grid-images/Lothingham Island..jpg");
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }
    
    .nav-c {
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-self: start;
        padding: 2rem 2rem;
    }
    
    
    .logo {
        width: 100%;
        max-width: 2rem;
        align-self: start;
    }
    
    .content {
        grid-area: content;
        display: flex!important;
        justify-content: space-between;
        width: calc(100% - 2rem);
        margin: 0 auto;
        height: 100%;
    }
    
     .content p {
        width: 100%;
        max-width: 25rem;
        margin: 0 auto;
        grid-area: text;
        font-family: "FreightSans Pro", SansSerif;
        font-size: 1.8rem;
    }
    
     #row1col2 .title {
         max-width: 25rem;
         font-size: 4rem;
     }
    
    #row1col3 {
        background-color: #383A53;
        height: 100%;
        width: 100%;
    }
    
    #row1col3 .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50vh 50vh;
        grid-template-areas: 'header header'
        'content content';
    }
    
    #row1col3 header {
        grid-area: header;
        background-image: url("../grid-images/A Great Estuary..jpg");
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }
    
    #row1col3 .title {
        max-width: 25rem;
        font-size: 4rem;
    }
    
    #row1col4 {
        background-color: #383A53;
        height: 100%;
        width: 100%;
    }
    
    #row1col4 .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50vh 50vh;
        grid-template-areas: 'header header'
        'content content';
    }
    
    #row1col4 header {
        grid-area: header;
        background-image: url("../grid-images/Peat..jpg");
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }
    
    #row1col4 .title {
        max-width: 25rem;
        font-size: 6rem;
    }
    
    #row2col1 {
        background-color: #383A53;
        height: 100%;
        width: 100%;
    }
    
    #row2col1 header {
        grid-area: header;
        background-image: url("../grid-images/A%20Crossing%20Point..jpg");
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }
    
    
    #row2col1 .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50vh 50vh;
        grid-template-areas: 'header header'
        'content content';
    }
    
    #row2col2 header {
        grid-area: header;
        background-image: url("../grid-images/Mutford Bridge..jpg");
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }
    
    #row2col2 .title {
        max-width: 25rem;
        font-size: 5rem;
    }
    
    #row2col2 {
        background-color: #383A53;
        height: 100%;
        width: 100%;
    }
    
    #row2col2 .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50vh 50vh;
        grid-template-areas: 'header header'
        'content content';
    }
    
    
    #row2col2 .title {
        max-width: 25rem;
        font-size: 5rem;
    }
    
    #row2col3 header {
        grid-area: header;
        background-image: url("../grid-images/Mutford Lock..jpg");
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }
    
    #row2col3 .title {
        max-width: 25rem;
        font-size: 5rem;
    }
    
    #row2col3 {
        background-color: #383A53;
        height: 100%;
        width: 100%;
    }
    
    #row2col3 .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50vh 50vh;
        grid-template-areas: 'header header'
        'content content';
    }
    
    
    #row2col3 .title {
        max-width: 25rem;
        font-size: 5rem;
    }
    
    #row2col4 header {
        grid-area: header;
        background-image: url("../grid-images/Iron horses..jpg");
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }
    
    #row2col4 .title {
        max-width: 25rem;
        font-size: 5rem;
    }
    
    #row2col4 {
        background-color: #383A53;
        height: 100%;
        width: 100%;
    }
    
    #row2col4 .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50vh 50vh;
        grid-template-areas: 'header header'
        'content content';
    }
    
    
    #row2col4 .title {
        max-width: 25rem;
        font-size: 5rem;
    }
    
    #row3col1 header {
        grid-area: header;
        background-image: url("../grid-images/beers.jpg");
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }
    
    #row3col1 .title {
        max-width: 25rem;
        font-size: 5rem;
    }
    
    #row3col1 {
        background-color: #383A53;
        height: 100%;
        width: 100%;
    }
    
    #row3col1 .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50vh 50vh;
        grid-template-areas: 'header header'
        'content content';
    }
    
    
    #row3col1 .title {
        max-width: 25rem;
        font-size: 5rem;
    }
    
    #row3col2 header {
        grid-area: header;
        background-image: url("../grid-images/Jolly Maltsters..jpg");
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }
    
    #row3col2 .title {
        max-width: 25rem;
        font-size: 5rem;
    }
    
    #row3col2 {
        background-color: #383A53;
        height: 100%;
        width: 100%;
    }
    
    #row3col2 .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50vh 50vh;
        grid-template-areas: 'header header'
        'content content';
    }
    
    
    #row3col2 .title {
        max-width: 25rem;
        font-size: 5rem;
    }
    
    #row3col3 header {
        grid-area: header;
        background-image: url("../grid-images/Messing About in Boats..jpg");
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }
    
    #row3col3 .title {
        max-width: 25rem;
        font-size: 5rem;
    }
    
    #row3col3 {
        background-color: #383A53;
        height: 100%;
        width: 100%;
    }
    
    #row3col3 .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50vh 50vh;
        grid-template-areas: 'header header'
        'content content';
    }
    
    
    #row3col3 .title {
        max-width: 30rem;
        font-size: 5rem;
    }
    
    #row3col4 header {
        grid-area: header;
        background-image: url("../grid-images/Motor Boats..jpg");
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    }
    
    #row3col4 .title {
        max-width: 35rem;
        font-size: 5rem;
    }
    
    #row3col4 {
        background-color: #383A53;
        height: 100%;
        width: 100%;
    }
    
    #row3col4 .container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50vh 50vh;
        grid-template-areas: 'header header'
        'content content';
    }
    
    
    #row3col4 .title {
        max-width: 25rem;
        font-size: 5rem;
    }
    
     @media all and (max-width: 320px) {
         html {
             font-size: 54%;
         }
    
     }
    
    