/*FONT*/
@font-face {
    font-family: "freightsanspro-medium";
    src: url(../font/freightsanspro-medium.otf) format('opentype');
}

#broadsMap {
    z-index: 9999999999999999999999999999999999999999999999999999999999999999999999;
    bottom: 0;
}

body {
    background-color: #2D303F;
}

.map-container {
    position: absolute;
    left: 0;
    margin-left: 2vw;
    right: 0;
    margin-right: 2vw;
    top: 0;
    margin-top: 20vh;
    background-color: #C25747;
    animation: scaleanim 1s ease-out;
}

.map-holder {
    margin: 2vh;
    padding: 2vh;
    height: 85vh;
    padding-top: 9vh;
}

/*inherit trapezium button from core.css*/

#close-map {
    background-image: url('../icons/close.png');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    margin-top: 6vh;
}

@media only screen and (min-height: 700px) { /*patch for S8*/
    #close-map {
        margin-top: 8vh;
    }
}

.bottommenu {
    position: fixed;
    width: 100%;
    z-index: 3;
    bottom: 0;
    margin-bottom: 1vh;
    left: 0;
    text-align: center;
    animation: scaleanim 1s ease-out;
}

.button {
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    background-color: #C25747;
    outline: none;
}

    .button:hover, .button:active {
        background-color: #2D303F;
    }

.button-img {
    height: 3vh;
    width: 3vh;
}

.location, .location-picker {
    position: absolute;
    border-radius: 25px;
    background-color: #2D303F;
    width: 45vw;
    /*text-align: center;*/
    padding-left: 10vw; /*TEMPORARY FIX*/
    left: 0;
    margin-left: 25vw;
    top: 0;
    margin-top: 2vh;
}

.location {
    line-height: 15px;
    padding: 2vh;
}

.location-picker {
    visibility: visible;
    line-height: 35px;
    z-index: 999;
}

.location-label, .location-label-current {
    font-size: 16px;
    font-family: freightsanspro-medium;
    color: white;
    width: 45vw;
}

.next-prev-buttons {
    position: absolute;
    background-color: #2D303F;
    top: 0;
    margin-top: 2vh;
    background-image: url('../icons/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 11.5vw;
    height: 11.5vw;
    border-radius: 100%;
    left: 0;
}

#backwards {
    margin-left: 7vw;
}

#forwards {
    margin-left: 78vw;
    background-image: url('../img/arrow2.png') !important; /*use image as bg image since animation disables CSS transform/rotate property*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px;
}
